.idea
.gradle
gradle
*.iml

spring-security-angular/.gradle
spring-security-angular/gradle
spring-security-angular/build/
!spring-security-angular/gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
spring-security-angular/.idea/
spring-security-angular/*.iws
spring-security-angular/*.iml
spring-security-angular/*.ipr
spring-security-angular/out/

spring-security-angular-ui/node_modules/**
spring-security-angular-ui/dist/

spring-security-angular-backend/.idea/
spring-security-angular-backend/*.iml
spring-security-angular-backend/*.ipr
spring-security-angular-backend/*.iws
spring-security-angular-backend/target
spring-security-angular-backend/target/
spring-security-angular-backend/gradle

gateway-ui-resource/gateway-ui/.idea
gateway-ui-resource/gateway-ui/target
gateway-ui-resource/gateway-ui/.mvn
gateway-ui-resource/gateway-ui/*.iml

gateway-ui-resource/resourceserver/.idea
gateway-ui-resource/resourceserver/target
gateway-ui-resource/resourceserver/.mvn
gateway-ui-resource/resourceserver/*.iml

proxy-ui-resource/proxy-resource/.idea
proxy-ui-resource/proxy-resource/.gradle
proxy-ui-resource/proxy-resource/gradle
proxy-ui-resource/proxy-resource/target
proxy-ui-resource/proxy-resource/*.iml

proxy-ui-resource/proxy-ui/.idea
proxy-ui-resource/proxy-ui/.gradle
proxy-ui-resource/proxy-ui/gradle
proxy-ui-resource/proxy-ui/target
proxy-ui-resource/proxy-ui/*.iml

ssl-application/.idea
ssl-application/.gradle
ssl-application/gradle
ssl-application/target
ssl-application/*.iml

spring-oauth2/auth-server/.idea
spring-oauth2/auth-server/.gradle
spring-oauth2/auth-server/gradle
spring-oauth2/auth-server/target
spring-oauth2/auth-server/out
spring-oauth2/auth-server/*.iml

spring-oauth2/oauth2-resource-server/.idea
spring-oauth2/oauth2-resource-server/.gradle
spring-oauth2/oauth2-resource-server/gradle
spring-oauth2/oauth2-resource-server/target
spring-oauth2/oauth2-resource-server/out
spring-oauth2/oauth2-resource-server/*.iml

spring-oauth2/oauth2-ui-gateway/.idea
spring-oauth2/oauth2-ui-gateway/.gradle
spring-oauth2/oauth2-ui-gateway/gradle
spring-oauth2/oauth2-ui-gateway/target
spring-oauth2/oauth2-ui-gateway/out
spring-oauth2/oauth2-ui-gateway/*.iml

spring-oauth2-jwt/auth-server/.idea
spring-oauth2-jwt/auth-server/.gradle
spring-oauth2-jwt/auth-server/gradle
spring-oauth2-jwt/auth-server/target
spring-oauth2-jwt/auth-server/out
spring-oauth2-jwt/auth-server/*.iml

spring-oauth2-jwt/oauth2-resource-server/.idea
spring-oauth2-jwt/oauth2-resource-server/.gradle
spring-oauth2-jwt/oauth2-resource-server/gradle
spring-oauth2-jwt/oauth2-resource-server/target
spring-oauth2-jwt/oauth2-resource-server/out
spring-oauth2-jwt/oauth2-resource-server/*.iml

spring-oauth2-jwt/oauth2-ui-gateway/.idea
spring-oauth2-jwt/oauth2-ui-gateway/.gradle
spring-oauth2-jwt/oauth2-ui-gateway/gradle
spring-oauth2-jwt/oauth2-ui-gateway/target
spring-oauth2-jwt/oauth2-ui-gateway/out
spring-oauth2-jwt/oauth2-ui-gateway/*.iml
